* {
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem 4rem;
  background: #121c22;
  color: #9fb9d0;
  font-family: "Inter", sans-serif;
}
textarea {
  border-radius: 1.5rem;
  padding: 1.5rem;
  background: #1b262c;
  color: #9fb9d0cc;
  font-size: 1.2rem;
  outline: none;
  border: none;
  width: 500px;
}
.button-group {
  margin-top: 20px;
}
button {
  background: #f35a4b;
  color: white;
  padding: 8px 16px;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.body-container {
  display: flex;
  margin-top: 3rem;
}
.message-container {
  font-size: 2rem;
  padding: 4rem;
  color: #9fb9d0cc;
  font-weight: 600;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
